<button class="btn btn-primary" (click)="expand()" >
  <i class="fa-sharp fa-solid fa-plus"></i>+
</button>
<div  class="row">
  <div class="col-xs-12">
    <app-form-input *ngFor="let rec of mayvar"></app-form-input>
  </div>
</div>
<!-- <tr>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)" type="text" class="form-control" size="80" value="Some Long Name Here"/></div></td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)" type="text" class="form-control" value="13-Jul-2015"/></div></td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)" type="text" class="form-control" value="$12355.12"/></div></td>
  <td> -->
      <!-- <select class="form-control">
          <option>Monthly</option>
          <option>Yearly</option>
      </select> -->
  <!-- </td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)"  type="text" class="form-control" value="another long value"/></div></td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)"  type="text" class="form-control" value="some val"/></div></td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)"  type="text" class="form-control" value="some val"/></div></td>
  <td><div style="width:10em"><input onkeyup="updateWidth(this)"  type="text" class="form-control" value="some val"/></div></td>
</tr> -->